header {
    background-color: #333;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li { 
    position: relative;
    display:inline-block;
}

nav ul li a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration:none;
}
nav ul li:hover > ul.submenu {
    display:block;
}
nav ul.submenu{
    display:none;
    position:absolute;
    background-color: #555;
    padding: 0;
}

nav ul.submenu li {
    display:block;
}
nav ul.submenu li a {
    padding: 10px 20px
}

nav ul.submenu li a:hover {
    background-color: #666;
}